<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{title}}| Codelogs.net</title>
    {% else %}
        <title>Codelogs.net</title>
    {% endif %}
</head>
<body>

    <a href="{{url_for('index') }}">Codelogs.net</a>
    <a href="{{url_for('about')}}">About</a>
    <a href="{{ url_for('login') }}">login</a>

    <div style="padding: 20px;">
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}{% endblock content %}

</body>
</html>